//Animation Area Start//

//Banner
@keyframes bet1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
//Banner

//Contact
@keyframes round1 {
    0%{
      transform: rotate(360deg);
    }
  }
//Contact

//Animation Area End//
