


:root{
    --body-color: #060C1F;
    --active-color: #09ff8d;
    --active-two: #09ff8cb3;
    --theme-one: #88B6FF;
    --theme-two: #1877F2;
    --button-one: #F3486A;
    --button-two: #FF6600;
    --header: #202A39;
    --subheader: #161F2C;
    --startable: #FA5500;
    --white: #fff;
    --black: #000;
    --social-box: #283968;
    --slidebox: #141C33;
    --textcolor: #8A92AB;
    --pointbox: #283352;
    --betslip: #636B82;
    --multiborder: #7A8899;
    --signbet: #20283F;
    --signborder: #526271;
    --leftpreborder: #4C546A;
    --preactive: #0F62E6;
    --place: #858B9D;
    --paycheck: #40507C;
}
